@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: #fff;
}


/*-----------------------------------Estilos del header-----------------------------------*/


.header {
    background-color: black;
    padding: 2.5em;
}


.div-header {
/*    width: 100%;*/
    /* height: 5em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.div-header a {
    width: 10%; 
}


form {
    width: 30em;
    margin: 0 auto;
}


.barra-buscador {
    height: 2em;
    background: #F2F3F4;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0.5em;
}


.entrada-buscador {
    width: 26em;
    height: 100%;
    border: none;
    color: #17202A;
    background: transparent;
    font-size: 1em;
}


.boton {
    width: 2.5em;
    height: 100%;
    border: none;
    background: transparent;
}


.icon-buscador {
    font-size: 1.6em;
    color: #7B7D7D;
    cursor: pointer;
}

.icon-buscador:hover {
    color: #17202A;
}

.entrada-buscador:focus {
    outline: none;
}


.div-iconos {
    width: 10%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    color: #00ffce;
    cursor: pointer;
    z-index: 1000;
}


.nav-usuario {
    position: absolute;
    right: -100%;
}


.nav-like {
    position: absolute;
    right: -100%;
}


.nav-carrito {
    position: absolute;
    right: -100%;
}


.div-iconos ul {
    padding: 0;
    width: 300px;
/*    height: 5em;*/
    background: #00ffce;
/*    color: #fff;*/
}

.div-iconos li {
    list-style: none;
/*    display: block;*/
    padding: 10%;
}


.div-iconos a:hover { 
    color: #000000;
}


.nav-categorias {
    display: flex;
    justify-content: center;
}


.nav-categorias a {
    width: 5em;
    height: 1.5em;
    color: #00ffce;
    text-align: center;
    font-size: 2em;    
/*    font-weight: bold;*/
}

.nav-categorias a:hover {
    background: #00ffce;
    color: #fff;
}

.icon-usuario:hover{
    color: #fff;
}

.icon-like:hover{
    color: #fff;
}

.icon-carrito:hover{
    color: #fff;
}


.logo-pagina {
    width: 100%; 
/*    height: 100%; */
}


.mostrar-usuario {
    right: 0;
}


.mostrar-like {
    right: 0;
}


.mostrar-carrito {
    right: 0;
}

#select {
    background: #00ffce;
    color: #fff;
} 

/*-----------------------------------Estilos del Banner-----------------------------------*/


.banner-slide {
    width: 100%;
/*    max-width: 1000px;*/
    height: 640px;
/*    margin: 0 auto;*/
}

/*-----------------------------------Estilos del Acerca de-----------------------------------*/


.acerca {
    padding: 2.5em;
    display: flex;
    justify-content: space-between;
}

.parrafo { 
    text-align: center;
    padding: 2.5em;
}

/*-----------------------------------Estilos del Contacto-----------------------------------*/

.contacto {
    display: flex;
    justify-content: space-between;
}

.datos {
    padding: 0.5em;
}

.formulario {
    width: 20em;
    padding: 1.5em;
    border-radius: 2em;
    border: black solid;
}

.mapa {
    padding: 2.5em;
    display: flex;
    justify-content: center ;
}


/*-----------------------------------Estilos del section-----------------------------------*/


.categorias {
    width: 80%;
    height: 45em;
    margin: auto;
/*    background: yellow;*/
    display: flex;
    flex-direction: column;
}


.titulo-publicacion {
    width: 100%;
    height: 5em;
    font-size: 2em;
/*    background: blue;*/
    display: flex;
    justify-content: flex-start;
}


.publicaciones {
    width: 100%;
    height: 45em;
    margin: auto;
    background: #fff;
    display: flex;
    justify-content: flex-end;
}


.publicaciones div {
    width: 30%;
    height: 35em;
    margin: auto;
    background: #F2F3F4;
}

.link-publicacion {
    width: 94%;
    margin: 0.5em;
    margin-top: 0.5em;
    font-size: 2em;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*-----------------------------------Estilos del footer-----------------------------------*/


.footer {
    background: #000000;
}


.contenedor {
    width: 80%;
    color: #00ffce;
    margin-left: 10%;
    padding: 1em;
    display: flex;
    justify-content: center;
}


.copy {
    width: 100%;
    background: #7B7D7D;;
    text-align: center;
}


.informacion {
    width: 15em;
}


.informacion ul {
    padding: 0;
}


.informacion li {
    list-style: none;
}


.informacion a {
    color: #00ffce;
}


.social {
    text-align: center;
    width: 15em;
}


.social [class^="icon-"] {
    display: inline-block;
    color: #00ffce;
    text-decoration: none;
    line-height: 2em;
    font-size: 30px;
    padding: 10px;
    background: #000000;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}


.social [class^="icon-"]:hover {
    background: #00ffce;
    color: #fff;

}